<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
    <p>Circlepitは、ライブ好きなユーザーが作り上げるコミュニティサイトです！</p>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>
  <div class="contents row" >
    <% @artists.each do |artist| %>
      <div class="name">
        <%= link_to artist.artist_name,artist_path(artist) %><div class="name2">(<%= artist.artist_name_japanese %>)</div>
      </div>
      <div class="name2">
      <%= link_to "お気に入りに登録", add_artist_path(artist), method: :post %>
        </div>
      <div class="content_post" style="background-image: url(<%= artist.artist_image_url %>);">
      </div>
    <% end %>
  </div>
  <%end %>
<%= paginate(@artists) %>