    <h2>Circlepitは、音楽好きユーザーで創り上げるSNSです！</h2><br/>
<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
<!--     <h2>Circlepitは、ライブ好きなユーザーが作り上げるコミュニティサイトです！</h2> -->
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>
  <div class="contents row" >

  <%= link_to 'アーティスト検索', artists_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'イベント検索', events_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'ユーザー検索', users_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'ツイート検索', tweets_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'マイページ', user_path(current_user), {class: 'btn btn-primary withripple' }%>


  <%end %>
