    <h2>Circlepitは、音楽好きユーザーで創り上げるSNSです！</h2><br/>
<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
<!--     <h2>Circlepitは、ライブ好きなユーザーが作り上げるコミュニティサイトです！</h2> -->
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>
  <div class="contents row" >

  <%= link_to 'アーティスト検索', artists_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'イベント検索', events_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'ユーザー検索', users_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'ツイート検索', tweets_path, {class: 'btn btn-primary withripple' }%>
  <%= link_to 'マイページ', user_path(current_user), {class: 'btn btn-primary withripple' }%>
  <h2>Pick Up アーティスト</h2>
      <div class="name">
        <%= link_to @artist.artist_name,artist_path(@artist) %><div class="name2">(<%= @artist.artist_name_japanese %>)</div>
      </div>
      <div class="name2">
      <%= link_to "お気に入りに登録", add_artist_path(@artist), method: :post %>
        </div>
      <div class="content_post" style="background-image: url(<%= @artist.artist_image_url %>);">
      </div>

    </div>
<br/>
  <div class="contents row" >

      <h2>Pick Up イベント</h2>
      <div class="name">
        <%= link_to @event.event_name,event_path(@event) %>
        <div class="name2"><%= @event.event_date.strftime("%Y-%m-%d %H:%M:%S") %></div>
        <div class="name2"><%= @event.event_location %></div>
      </div>

    </div>



  <%end %>
