<% if user_signed_in? %>
<% if current_user.id == @artist.user_id %>
<div class="contents row">
    <%= form_tag("/artists/#{@artist.id}", method: :patch) do %>
      <h2>アーティストの編集</h2>
      <ul style="list-style:none;">
      <li>
      <textarea cols="30" rows="1" name="artist_name" placeholder="アーティスト名(必須)" ><%= @artist.artist_name %></textarea>
      </li>
      <li>
      <textarea cols="30" rows="1" name="artist_name_japanese" placeholder="アーティスト名 カナ(必須)" ><%= @artist.artist_name_japanese %></textarea>
      </li>
      <li>
      <textarea cols="30" rows="1" name="artist_url" placeholder="アーティストURL(必須)" ><%= @artist.artist_url %></textarea>
      </li>
      <li>
      <textarea cols="30" rows="1" name="artist_image_url" placeholder="アーティスト画像URL(必須)"><%= @artist.artist_image_url %></textarea>
      </li>
      <li>
      <input type="submit" value="SENT">
      </li>
      </ul>
    <% end %>
    <div class = "name2">※アーティスト画像URLについて:<br/>
            <br/>
       【パソコンから行う場合(※推奨)】<br/>
       1.images.google.com で画像を検索します。<br/>
       2.画像を右クリックします。<br/>
       3.ご使用のシステムに応じて、次のいずれかをクリックして画像の URL を取得します。<br/>
       ・Chrome: [画像 URL をコピー]<br/>
       ・Safari: [イメージのアドレスをコピー]<br/>
       ・Internet Explorer: [プロパティ] をクリックして、表示されるアドレス（URL）をコピー<br/>
       ・Firefox: [画像の URL をコピー]<br/>
       4.フォームの"アーティスト画像URL"にペースト(貼り付け)してください。<br/>
      <br/>
       【モバイル ブラウザ】<br/>
       1.images.google.com で画像を検索します。<br/>
       2.画像を押し続けます。<br/>
       3.ご使用のブラウザに応じて、下記のリンクをクリックして画像の URL を取得します。<br/>
       ・Chrome: [リンクのアドレスをコピー]<br/>
       ・Safari: [コピー]<br/>
       4.フォームの"アーティスト画像URL"にペースト(貼り付け)してください。<br/>
       <br/>
      </div>
</div>
  <% else %>
  <% end %>
<% end %>