<div class="contents row" >
  <div class="name">
      <%= @artist.artist_name %>
      <br>(<%= @artist.artist_name_japanese %>)
      <div class="name2">
      <%= link_to "お気に入りに登録", add_artist_path(@artist), method: :post %>
        </div>
        <% if current_user.id == @artist.user_id %>
        <div class="name2">
      <%= link_to "削除", "/artists/#{@artist.id}", method: :delete %>
        </div>
        <div class="name2">
      <%= link_to "編集", edit_artist_path, method: :get %>
        </div>
        <% else %>
        <% end %>
  </div>
  <div class="content_post" style="background-image: url(<%= @artist.artist_image_url %>);">
  </div>
            <div> オフィシャルページ
          <a href="<%= @artist.artist_url %>" target="_blank"><%= @artist.artist_url %></a></div>
</div>
