<div class="contents row" >
  <div class="name">
      <%= @artist.artist_name %>
      <div class="name2">
      <%= link_to "お気に入りに登録", add_artist_path(@artist), method: :post %>
        </div>
  </div>
  <div class="content_post" style="background-image: url(<%= @artist.artist_image_url %>);">
  </div>
            <div> オフィシャルページ</div>
          <a href="<%= @artist.artist_url %>" target="_blank"><%= @artist.artist_url %></a>
</div>