<h2>イベント参加中のユーザー&nbsp;&nbsp;<%= @clips.length %>人</h2>
  <div class="name3">
    <%= link_to @event.event_name, event_path(@event) %>
    <div class="name2">
      <% @artist_id = @event.artist_id %>
      <% @artist = Artist.where(id: @artist_id).first %>
      出演アーティスト:<%= link_to @artist.artist_name,artist_path(@artist) %>
      </div>
    <% if current_user.id == @event.user_id %>
    <div class="name2">
    <%= link_to "このイベントを削除", "/events/#{@event.id}", method: :delete %>
    </div>
    <div class="name2">
    <%= link_to "編集", edit_event_path, method: :get %>
    </div>
    <% else %>
    <% end %>
    <%= @event.event_date.strftime("%Y-%m-%d %H:%M:%S") %>
    <p><%= @event.event_location %></p>
    <div class="name2">
    <%= link_to "このイベントに参加", add_event_path(@event), method: :post %>
    </div>
  </div>

  <h2>ユーザー一覧&nbsp;&nbsp;(<%= @clips.length %>人)</h2>

    <% @clips.each do |clip| %>
      <% @user_id = clip.user_id %>
      <% user = User.find(@user_id) %>
      <div class ="name2">&nbsp;</div>
      <div class="user_avatars">
        <%= link_to user.username ,user_path(user) %><br/>
        <span><img src="<%= user.avatar.url(:thumb) %>"></span><br />

        <span class = "name2">
        <% if user.gender == "male" %>&nbsp;&nbsp;男性
        <% elsif user.gender == "female" %>&nbsp;&nbsp;女性
        <% else %>
        <% end %>
        <% if user.birthday? %>
        <% date_format = "%Y%m%d" %>
        <% @age = (Date.today.strftime(date_format).to_i - user.birthday.strftime(date_format).to_i) / 10000 %>
        &nbsp;&nbsp;<%= @age %>歳<br/>
        <% end %>
        <% if user.location? %>
        &nbsp;&nbsp;(<%= user.location %>)
        <% end %>
      </span>
      </div>
      <br/>
    <% end %>
<%= paginate(@clips) %>
  </div>
