<div class="row">
  <h2><%= link_to @user.username, user_path(@user) %>の参加中のイベント</h2>
  <span class="name4">参加中のイベント数 :<%=@count.length %></span><br/>
  <%= link_to "イベント検索", events_path, {class: 'btn btn-primary withripple' } %>
  <br/>
    <script type="text/javascript">
var nend_params = {"media":43808,"site":243648,"spot":701028,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
<!-- admax -->
<script src="http://adm.shinobi.jp/s/88e162999bcff2862fc2fe3a6f135763"></script>
<!-- admax -->
<br/>

    <% @clips.each do |clip| %>
      <% event = Event.find(clip.event_id) %>
          <tr>
            <div class="name3"><%= link_to event.event_name, event_path(event) %></div>
            <div class="name2"><%= link_to "参加中のイベントから削除",clip_path(clip), method: :delete %></div>
              <div class="name2">
            <%= event.event_date.strftime("%Y-%m-%d %H:%M:%S")  %>
            </div>
            <div class="name2">
            <%= event.event_location %>
            </div>
        </tr>
    <br />
    <% end %>
    <%= paginate(@clips) %>
</div>