<% if user_signed_in? %>
<h2>フォロー中のツイート</h2>
<% @users.each do |user| %>
  <% @tweets = Tweet.where(user_id: user.id).limit(1).order("created_at DESC") %>
  <% @tweets.each do |tweet| %>
    <div class="contents row" >
      <div class="name4"><img src="<%= tweet.user.avatar.url(:thumb) %>"><%= link_to user.username, user_path(user), method: :get %>&nbsp;&nbsp;<br/><%= link_to 'ツイート一覧へ', users_tweets_user_path(user), {class: 'btn btn-primary withripple' }%></div>
      <div class="name2"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="name2"><%= link_to '詳細', tweet_path(tweet), method: :get %></div>
      <div class="name4"><%= simple_format(tweet.text) %></div>
    </div>
    <br/>
  <% end %>

  <script type="text/javascript">
var nend_params = {"media":43808,"site":243648,"spot":701028,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
<br/>

<% end %>
  <%= paginate(@users) %>
</div>
<% end %>