<h2>ツイート検索</h2>
<div>
    <%= search_form_for @search do |f| %>
    <%= f.label :text_cont, '🔎' %>
    <%= f.text_field :text_cont %>
    <%= f.submit '検索' %>&nbsp;&nbsp;<%= link_to ">>ユーザーから検索", users_path %>
    <br/>
    <span class = "name2">※キーワードから検索いただけます。</span>
    <br />
    <%= link_to '検索条件のクリア', request.path %>
    </div>
    <% end %>
<% if user_signed_in? %>
<%= link_to 'ツイートを投稿する', new_tweet_path, {class: 'btn btn-primary withripple' }%>
<%= link_to '自分のツイート一覧へ', show_tweets_path, {class: 'btn btn-primary withripple' }%>
<%= link_to 'フォロー中のツイート一覧へ', following_tweets_path, {class: 'btn btn-primary withripple' }%>
<% end %>

<% @tweets.each do |tweet| %>
    <div class="contents row" >
      <div class="name4"><img src="<%= tweet.user.avatar.url(:thumb) %>"><%= link_to tweet.user.username, user_path(tweet.user), method: :get %>
      <div class="name2"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="name2"><%= link_to '詳細', tweet_path(tweet), method: :get %></div>
      <div class="name4"><%= simple_format(tweet.text) %></div>
    </div>
    </div>
<% end %>
  <%= paginate(@tweets) %>
</div>