<h2>ãƒ„ã‚¤ãƒ¼ãƒˆæ¤œç´¢</h2>
<div>
    <%= search_form_for @search do |f| %>
    <%= f.label :text_cont, 'ðŸ”Ž' %>
    <%= f.text_field :text_cont %>
    <%= f.submit 'SEARCH' %>&nbsp;&nbsp;<%= link_to ">>ãƒ¦ãƒ¼ã‚¶ãƒ¼ã‹ã‚‰æ¤œç´¢", users_path %>
    <br />
    <%= link_to 'æ¤œç´¢æ¡ä»¶ã®ã‚¯ãƒªã‚¢', request.path %>
    </div>
    <% end %>
<%= link_to 'ãƒ„ã‚¤ãƒ¼ãƒˆã‚’æŠ•ç¨¿ã™ã‚‹', new_tweet_path, {class: 'btn btn-primary withripple' }%>
<%= link_to 'è‡ªåˆ†ã®ãƒ„ã‚¤ãƒ¼ãƒˆä¸€è¦§ã¸', show_tweets_path, {class: 'btn btn-primary withripple' }%>
<%= link_to 'ãƒ•ã‚©ãƒ­ãƒ¼ä¸­ã®ãƒ„ã‚¤ãƒ¼ãƒˆä¸€è¦§ã¸', following_tweets_path, {class: 'btn btn-primary withripple' }%>
<% @tweets.each do |tweet| %>
    <div class="contents row" >
      <div class="name3">æŠ•ç¨¿è€…:<%= link_to tweet.user.username, user_path(tweet.user), method: :get %></div>
      <div class="name2">æŠ•ç¨¿æ—¥æ™‚:<%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="name2"><%= link_to 'è©³ç´°', tweet_path(tweet), method: :get %></div>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
      <div class="name2">
       <%= link_to 'ç·¨é›†', edit_tweet_path(tweet), method: :get %>
      </div>
      <div class="name2">
       <%= link_to 'å‰Šé™¤', "/tweets/#{tweet.id}", method: :delete %>
      </div>
       <% end %>
      <div class="name3"><%= simple_format(tweet.text) %></div>
    </div>
<% end %>
  <%= paginate(@tweets) %>
</div>