<% if user_signed_in? %>
<h2>自分のコメント一覧</h2>
<% if @comments %>
        <% @comments.each do |comment| %>
        <div class="name2"><%= link_to comment.tweet.user.username, user_path(comment.tweet.user) %>さんのツイートにコメント</div>
        <div class="name2"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
        <div class="name2"><%= comment.text %></div>
        <div class="name2"><%= link_to '詳細', tweet_path(comment.tweet_id), method: :get %></div>
        <br/>

<script type="text/javascript">
var nend_params = {"media":43808,"site":243648,"spot":701028,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
<!-- admax -->
<script src="http://adm.shinobi.jp/s/88e162999bcff2862fc2fe3a6f135763"></script>
<!-- admax -->
<br/>
        <% end %>
      <% end %>
  <%= paginate(@comments) %>
</div>
<% end %>