
<div class="row form user_profile">
  <div class="col-lg-12">
    <div class="image" style="background-image: url(<%= @user.avatar.path(:medium) %>);"></div>
    <h2><%= @user.username %></h2>
    <% if @user.birthday? %>
    <h4><%= @age %>歳</h4>
    <% end %>
    <% if @user.gender == "male" %>
    <h4>男性</h4>
    <% elsif @user.gender == "female" %>
    <h4>女性</h4>
    <% else %>
    <% end %>
    <% if @user.location? %>
    <h4>居住地: <%= @user.location %></h4>
    <% end %>
    <% if @user.hometown? %>
    <h4>出身地: <%= @user.hometown %></h4>
    <% end %>

    <% if current_user.id == @user.id %>
      <div class="profile_edit">
        <%= link_to 'プロフィール編集', edit_user_path(current_user), {class: 'btn btn-primary withripple' }%>
      </div>
    <% end %>
  </div>
  <span id="user_<%= @user.id %>" class="follow-wrapper">
      <%= render 'follow_form', user: @user if signed_in? %>
    </span>
  <h4>
    <%= render 'common/stats' %>
  </h4>
  <br/>
  <h4>★★★★ひとことプロフィール★★★★</h4>
  <div class = "name4"><%= simple_format(@user.comment) %></div>
</div>
<br/>


  <h2>ツイート一覧</h2>
  <%= link_to @user.username + 'のツイート一覧へ', users_tweets_user_path, {class: 'btn btn-primary withripple' }%>
      <% @tweets.each do |tweet| %>
      <Tr>
      <div class="name2">投稿日時:<%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="name2"><%= link_to '詳細', tweet_path(tweet), method: :get %></div>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
      <div class="name2">
       <%= link_to '編集', edit_tweet_path(tweet), method: :get %>
      </div>
      <div class="name2">
       <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
      </div>
      <% end %>
      <div class="name3"><%= simple_format(tweet.text) %></div>
    </Tr>
      <% end %>

  <h2>お気に入りのアーティスト</h2>
  <%= link_to @user.username + 'のお気に入りのアーティスト一覧へ', favorites_path(@user), {class: 'btn btn-primary withripple' }%>
    <% @user.artists.each_with_index do |artist,i| %>
          <tr>
            <div class="name3"><%= link_to artist.artist_name,artist_path(artist) %>
            </div>
          </tr>
    <% end %>
<br />
  <h2>参加中のイベント</h2>
  <%= link_to @user.username + 'の参加中のイベント一覧へ', clips_path(@user), {class: 'btn btn-primary withripple' }%>
    <% @user.events.each_with_index do |event,i| %>
          <tr>
            <div class="name3"><%= link_to event.event_name,event_path(event) %>
              <div class="name2">
            <%= event.event_date.strftime("%Y-%m-%d %H:%M:%S") %>
            </div>
            <div class="name2">
            <%= event.event_location %>
            </div>
          </div>
        </tr>
    <% end %>