<h2><%= link_to @user.username,user_path(@user)%>のツイート一覧</h2>

<%= link_to 'コメント一覧', users_comments_user_path(@user), {class: 'btn btn-primary withripple' }%>
<% @tweets.each do |tweet| %>
    <div class="contents row" >
      <div class="name2">投稿日時:<%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="name2"><%= link_to '詳細', tweet_path(tweet), method: :get %></div>
      <div class="name4"><%= simple_format(tweet.text) %></div>
    </div>
    <br/>

  <script type="text/javascript">
var nend_params = {"media":43808,"site":243648,"spot":701028,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
<br/>

<% end %>
  <%= paginate(@tweets) %>
</div>