<div class="contents row" >
  <div class="name">
      <%= @event.event_name %>
      <div class="name2">
      <%= link_to "このイベントに参加", events_path(@events), method: :get %>
    </div>
        <% if current_user.id == @event.user_id %>
    <div class="name2">
      <%= link_to "このイベントを削除", "/events/#{@event.id}", method: :delete %>
    </div>
    <div class="name2">
      <%= link_to "編集", edit_event_path, method: :get %>
        </div>
        <% else %>
        <% end %>
      <%= @event.event_date %>
      <p><%= @event.event_location %></p>
  </div>

</div>
